@font-face {
  src: url('./fonts/font.ttf');
  font-family: 'Mario';
}

* {
  font-family: 'Mario', monospace;
  user-select: none;
}

.wrapper,
body,
html {
  margin: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

canvas {
  touch-action: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.ui-section {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  background: white;
  border-radius: 5vh;

  color: black;
  font-size: 4vh;

  width: 20vh;
  height: 7vh;
}

#coords {
  top: 1vh;
  left: 1vh;
}

#palette {
  top: 1vh;
  right: 1vh;
}

.move-tip {
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;

  display: flex;

  align-items: center;
  justify-content: center;
}

.move-tip.left {
  left: 2vh;
}

.move-tip.right {
  right: 2vh;
}

.move-tip.up {
  top: 2vh;
  bottom: auto;
  left: 0;
  right: 0;
}

.move-tip.bottom {
  top: auto;
  bottom: 2vh;
  left: 0;
  right: 0;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
  background: white;
  width: 5vh;
  height: 5vh;
  border-radius: 10%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.block {
  box-sizing: border-box; /* Include padding and border in element's width and height */

  width: 4vh;
  min-width: 4vh;
  max-width: 4vh;
  min-height: 4vh;
  max-height: 4vh;
  height: 4vh;

  display: inline-block;

  cursor: pointer;
  margin: 0 0.5vh;
  background-size: 4vh 4vh !important;
  background-position: center !important;
}

.block.selected {
  border: 3px solid black;
}

.block:hover:not(.selected) {
  border: 3px solid rgba(0, 0, 0, 0.55);
}

#play {
  top: 9vh;
  left: 1vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3vh;

  cursor: pointer;
  box-sizing: border-box;
}

#play:hover {
  border: 0.5vh solid black;
}

.play-img {
  width: 3vh;
  height: 3vh;

  margin-right: 1vh;
  margin-top: -0.2vh;
}

.flex-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background: #facd00;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  z-index: 10;
}

.end-screen > .flex-container {
  background: #f04a3a;
  visibility: hidden;
}

.end-screen > .flex-container.active {
  visibility: visible;
}

.title {
  width: 100%;
  font-size: 15vh;

  text-align: center;

  animation: .5s ease-out grow 0s 1; 
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fromLeft {
  0% {
    transform: translateX(-1000%);
  }
  100% {
    transform: translateX(0);
  }
}

button {
  outline: none;
  background: none;
  border: 0.5vh solid black;

  font-size: 4vh;
  padding: 0.75vh 3vh;

  transform: translateX(-1000%);

  animation: .5s ease-out fromLeft .5s 1; 
  animation-fill-mode: forwards;
}

.end-screen button:hover {
  color: #f04a3a;
  background: black;
  cursor: pointer;
}

button:hover {
  color: #facd00;
  background: black;
  cursor: pointer;
}

input {
  outline: none;
  background: none;
  border: 0.5vh solid black;

  font-size: 5vh;
  padding: 0.20vh 3vh;

  width: 20vh;

  margin: 0 .5vh;

  transform: translateX(-800%);

  animation: .5s ease-out fromLeft .5s 1; 
  animation-fill-mode: forwards;
}

input::placeholder {
  color: #836b01;
}